<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block base_title %} Almacen Organismos Operadores {% endblock %}</title>

    <!-- Bootstrap core CSS -->
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet" />


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      body {
       padding-top: 5rem;
      }
      .starter-template {
        padding: 3rem 1.5rem;
        text-align: center;
      }
    </style>
    <!-- Custom styles for this template -->
  </head>
  <body  background="{% static 'img/fondo.jpg' %}">

{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Entradas</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="{% url 'EntradasAlmacenGeneral' %}">Entrada Almacén General</a>
          <a class="dropdown-item" href="{% url 'EntradasComprasDirectas'%}">Entrada Compras Directas</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown2</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown3</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <div class="row">
      <div class="container">
        {% if user.is_authenticated %}
          <button class="btn btn-secondary my-2 my-sm-0 disabled" type="text"><img class="img-fluid" alt="Responsive image" src="{% static 'img/svg/hombre.svg' %}" width="16" height="16">{{ user.username }}</button>
        {% else %}
          <button class="btn btn-secondary my-2 my-sm-0 disabled" type="text"><img class="img-fluid" alt="Responsive image" src="{% static 'img/svg/usuario.svg' %}" width="16" height="16">Anonhymus</button>
        {% endif %}
        
      </div>
    </div>
    
     <div class="row">
      <div class="container">
        {% if not user.is_authenticated %}
          <a class="btn btn-outline-danger disabled" href="{% url 'logout' %}"><img class="img-fluid" alt="Responsive image" src="{% static 'img/svg/logout2.svg' %}" width="16" height="16">Logout</a>
        {% else %}
          <a class="btn btn-outline-danger" href="{% url 'logout' %}"><img class="img-fluid" alt="Responsive image" src="{% static 'img/svg/logout.svg' %}" width="16" height="16">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
{% endif %}
<main role="main" class="container">
  {% block content %}
    <div class="starter-template">
      <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
    </div>
  {% endblock %}

</main><!-- /.container -->
<script src="{% static 'js/jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
